$white: hsl(0, 0%, 100%);
$dark: hsl(0, 0%, 0%);
$grey-white: hsl(300, 6%, 93%);
$dark-blue: hsl(218, 63%, 37%);
$light-blue: hsl(217, 72%, 83%);

$blue-50: hsl(216, 90%, 65%);
$blue-60: hsl(216, 90%, 56%);
$blue-70: hsl(216, 60%, 41%);

$dark-blue-30: hsl(213, 21%, 57%);
$dark-blue-50: hsl(216, 100%, 20%);
$dark-blue-70: hsl(215, 100%, 12%);

$green-50: hsl(90, 60%, 63%);
$green-60: hsl(90, 64%, 45%);
$green-70: hsl(90, 40%, 42%);

$grey-40: hsl(0, 0%, 80%);
$grey-70: hsl(0, 0%, 40%);
$grey-80: hsl(0, 0%, 20%);

$red-50: hsl(18, 81%, 52%);
$red-60: hsl(18, 81%, 44%);
$red-70: hsl(18, 88%, 33%);

$yellow-50: hsl(47, 97%, 62%);
$yellow-60: hsl(47, 89%, 48%);
$yellow-70: hsl(40, 86%, 44%);
