@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

// Storing different font-styles in variables to be used later in the code
$font: "Roboto", sans-serif;
$font-mon: "Montserrat", sans-serif;

// Storing different font-sizes in variables to be used later in the code
$font-xsm: 0.75rem;
$font-sm: 0.875rem;
$font-med: 1.125rem;
$font-lg: 1.5rem;
$font-xlg: 3.25rem;
