.alpaca {
  background: url();
  &__neck {
    position: relative;
  }
  &__nose {
    position: relative;
  }
  &__eyes {
    position: relative;
  }
  &__hair {
    position: relative;
  }
  &__access {
    position: relative;
  }
  &__ears {
    position: relative;
  }
  &__leg {
    position: relative;
  }
}
